{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transaction Type</th>
                <th>Date & Time</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>${{ "%.2f"|format(transaction.price) }}</td>
                    <td>
                        {% if transaction.shares > 0 %}
                            <span class="text-success">Buy</span>
                        {% else %}
                            <span class="text-danger">Sell</span>
                        {% endif %}
                    </td>
                    <td>{{ transaction.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
